.displayBlock{
  margin:0 auto;
  .displayBtn {
    height: 100px;
    min-width: 300px;
    border-radius: 100px;
    border:none;
    span {
      font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 36px;
    }
  }
}
.default {
  .displayBtn{
    background-color: rgb(238, 238, 238);
    span {
      color: rgb(102, 102, 102);
    }
  }
}
.error {
  .displayBtn{
    background-color: rgb(255, 68, 0);
    span {
      color: rgb(255, 255, 255);
    }
  }
}
.warning {
  .displayBtn{
    background-color: rgb(255, 245, 207);
    span {
      color: rgb(230, 157, 0);
    }
  }
}
.positive {
  .displayBtn{
    background-color: rgb(225, 255, 212);
    span {
      color: rgb(102, 191, 60);
    }
  }
}
.negative {
  .displayBtn{
    background-color: rgb(254, 222, 210);
    span {
      color: rgb(255, 68, 0);
    }
  }
}
